* {
	margin:0;
	padding:0;
}

a, li, label{
-webkit-transition: all 0.2s ease-in;
-moz-transition: all 0.2s ease-in;
-ms-transition: all 0.2s ease-in;
-o-transition: all 0.2s ease-in;
transition: all 0.2s ease-in;
}

a {
	color:#d3b581; /* GOLD color */
	text-decoration:none;
}

a:hover{
	color:#e5c48c;
}

html{
	font-size:10px;
	font-family: Source Sans Pro;
}

body, header, main, footer{
	display:flex;
	flex-direction:column;
	align-items:center;
	width:100%;
	}

body{
	font-size:1.6rem;
	min-height:100vh;
	background-color:#f1f1f1;
}

header, footer{
	background-color:white
	}

main {
	padding-top:1rem;
	flex: 1 0 auto;
}

footer {
	padding-top:2rem;
	padding-bottom:2rem;
}

footer p {
	color: #d3b581;
	text-align:center;
	margin-bottom:2rem;
}

.header-contacts{
	list-style-type:none;
	color:#d3b581;
	text-align:right;
	padding:2rem;
}

.header-contacts li{
	margin-bottom:2rem;
}

.header-contacts li:last-child{
	margin-bottom:0rem;
}

.separator{
	height: .2rem;
	width:100%;
	background-color: #f1f1f1;
}

.container{
	width:100%;
}


.logo {
	width:20rem;
	height:20rem;
	overflow:hidden;
	border: 1rem solid #d3b581;
	border-radius:20rem;
	background-color:#fff;
	margin: 0 auto 0 auto;
}

.logo, .logo a{
	display:flex;
	align-items:center;
	justify-content:center;
}

.logo a{
	height:100%;
}

.logo a, .logo img {
	width:95%;
	}

.menu{
	list-style-type:none;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	-webkit-transition: height 0.3s ease-in;
	-moz-transition: height 0.3s ease-in;
	-ms-transition: height 0.3s ease-in;
	-o-transition: height 0.3s ease-in;
	transition: height 0.3s ease-in;
	height:0;
	overflow:hidden;
	}

.menu li {
	padding:2rem;
	text-align:center;
	border-bottom:.2rem solid white;
	}

.menu li:hover {
	color:#e5c48c;
	border-bottom-color:#e5c48c;
	}

.menu li a{
	font-size:2rem;
	line-height:1rem;
	}

.menu li.active {
	border-bottom-color:#d3b581;
	}

.menu li.active a {
	}

.menu li a {
	height:100%;
	width:100%;
	white-space:nowrap;
}

#mobile-menu-toggle{
	display:none;	
	}

#mobile-menu-toggle + label{
	color:#d3b581;
}

#mobile-menu-toggle:checked + label{
	color:#726246;
}

#mobile-menu-toggle:checked + label + .menu{
	height:80vh;
}

label[for=mobile-menu-toggle]{
	display:block;
	cursor: pointer;
	padding:2rem;
	text-align:right;
}

.fa-bars{
	font-size:3rem;
	}

.slide{
	width: 100%;
	background-position: center center;
	background-size: cover;
	background-repeat:no-repeat;
	padding:4rem;
	box-sizing:border-box;
}

.slide div{
	padding:2rem;
	width:100%;
	box-sizing:border-box;
	background-color:white;
}

.slide h3 {
	margin-top:1rem;
	margin-bottom:2rem;
	color:#d3b581;
}


.slide p {
	color:#726246;
	}

.studio-glamnails{
	background-image: url('/images/studio/glamnails.jpg');
}

@media ( min-width:560px ) and ( max-width:767px ) {}
@media ( min-width:768px ) {
	#mobile-menu-toggle:checked + label + .menu,
	.menu{flex-direction:row;height:auto;}
	label[for=mobile-menu-toggle]{display:none;}
	}
@media ( min-width:768px ) and ( max-width:991px ) {
	.slide div {margin-bottom:5rem;}
	}
@media ( min-width:992px ) and ( max-width:1200px ) {
	.slide div {width:80%;margin-bottom:10rem;}
	}
@media ( min-width:1200px ) {
	.container{width:100rem;}
	.slide div {width:60%;margin-bottom:20rem;}
	}

