*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

a, li, label, input{
-webkit-transition: all 0.2s ease-in;
-moz-transition: all 0.2s ease-in;
-ms-transition: all 0.2s ease-in;
-o-transition: all 0.2s ease-in;
transition: all 0.2s ease-in;
}

.glam-red,
a {
	color:#B03841;
	text-decoration:none;
}

a:hover{
	color:#e5c48c;
}

html{
	font-size:10px;
	font-family: Source Sans Pro;
}

body, header, main, footer{
	display:flex;
	flex-direction:column;
	align-items:center;
	width:100%;
	}

body{
	font-size:1.6rem;
	min-height:100vh;
	background-color:#f1f1f1;
}

header, footer{
	background-color:white
	}

main {
	padding-top:1rem;
	padding-bottom:1rem;
	flex: 1 0 auto;
}

footer {
	padding-top:2rem;
	padding-bottom:2rem;
}

footer .container {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
}

footer p {
	color: #d3b581;
	text-align:center;
	margin-bottom:2rem;
}
footer .sub p {
	text-align:left;
}

footer .book{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

footer img{
	width:60%;
	}

footer p i {
	font-size:3rem;
	color:#B03841;
	margin-left:.5rem;
	margin-right:.5rem;
	}

footer section {
	padding:1rem;
	width:100%;
}

.header-contacts{
	list-style-type:none;
	color:#d3b581; /* GOLD color */ 
	text-align:right;
	padding:2rem;
}

.header-contacts li{
	margin-bottom:2rem;
}

.header-contacts li:last-child{
	margin-bottom:0rem;
}

.separator{
	height: .2rem;
	width:100%;
	background-color: #f1f1f1;
}

.container{
	width:100%;
	background-color:white;
	margin: 0 auto 0 auto;
}

.custom_logo{
	position:relative;
	z-index:1000;
	margin-top:-3rem;
	margin-bottom:-3rem;
	}
.custom_subup,
#jnews_module2,
.golden-box, .logo{
	border: 1rem solid #d3b581;
	margin: 0 auto 0 auto;
	}
.custom_subup,
#jnews_module2,
.golden-box{
	padding:10rem 4rem 10rem 4rem;
	}

.logo {
	width:20rem;
	height:20rem;
	overflow:hidden;
	border-radius:20rem;
	background-color:#fff;
}

.logo, .logo a{
	display:flex;
	align-items:center;
	justify-content:center;
}

.logo a{
	height:100%;
}

.logo a, .logo img {
	width:95%;
	}

.menu{
	list-style-type:none;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	-webkit-transition: height 0.3s ease-in;
	-moz-transition: height 0.3s ease-in;
	-ms-transition: height 0.3s ease-in;
	-o-transition: height 0.3s ease-in;
	transition: height 0.3s ease-in;
	height:0;
	overflow:hidden;
	padding:0;
	margin:0;
	}

.menu li {
	text-align:center;
	border-bottom:.4rem double white;
	}

.menu li:hover {
	color:#e5c48c;
	border-bottom-color:#e5c48c;
	}

.menu li a{
	display:block;
	font-size:2rem;
	padding:2rem;
	line-height:1rem;
	white-space:nowrap;
	}

.menu li.active {
	background-color:#d3b581;
	border-bottom-color:#d3b581;
	}

.menu li.active a {
	color:white;
	}

#mobile-menu-toggle{
	display:none;	
	}

#mobile-menu-toggle + label{
	color:#d3b581;
	background-image:url('/images/logo-mini.png');
	background-position: 2rem center;
	background-size: 6rem;
	background-repeat:no-repeat;
}

#mobile-menu-toggle:checked + label{
	color:#726246;
}

#mobile-menu-toggle:checked + label + .menu{
	height:80rem;
}

label[for=mobile-menu-toggle]{
	display:block;
	cursor: pointer;
	padding:2rem;
	text-align:right;
}

.fa-bars{
	font-size:3rem;
	}

.slide{
	width: 100%;
	background-position: center center;
	background-size: cover;
	background-repeat:no-repeat;
	padding:4rem;
	box-sizing:border-box;
}


.custom_promo{
	width:100%;
}

.special,
.promo-item {
	overflow:hidden;
	width: 100%;
	height:55rem;
	background-position: center center;
	background-size: cover;
	background-repeat:no-repeat;
	}

.promo .container{
	background:none;
	margin:0 auto 0 auto;
	padding:4rem 4rem 4rem 4rem;
	}

.promo .container p,
.promo .container h3{background-color:rgba(255,255,255,.5);}


.promo img{
	width:100%;
	}

.slide div{
	padding:4rem 2rem 6rem 2rem;
	width:100%;
	box-sizing:border-box;
	background-color:white;
}

footer h3,
.custom_subup h3,
.feature h3,
.slide h3 {
	margin-top:1rem;
	margin-bottom:2rem;
	color:#d3b581;
	font-weight:normal;
}

footer p,
.promo p,
.feature div,
.custom_subup p,
.TzModFeature_service li p,
.slide p {
	color:#726246;
	}

.promo h3{
	padding:2rem;
	font-size:4rem;
	font-weight: lighter;
	color:#444;
}

.promo p{
	padding:2rem;
	padding-bottom:3rem;
	font-size:2rem;
}

.promo-button{
	text-align:left;
}

.feature span {
	height:3rem;
	width:3rem;
	border: 1rem solid #d3b581;
}

.studio-glamnails{
	background-image: url('/images/studio/glamnails.jpg');
	margin-bottom:5rem;
}

.studio-glamnails > div{
	background-color:white
}

.feature ul{
	list-style-type:circle;
	}

.TzModFeature_service {
	list-style-type: none;
	padding:1rem 1rem 0 1rem !important;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;	
	}

.TzModFeature_service li{
	display:flex;
	flex-direction:column;
	width:100%;
	border-top:.4rem double #d3b581;
	border-bottom:.4rem double #d3b581 !important;
	margin-bottom:1rem;
}

.TzModFeature_service li a{
	display:block;
	position:relative;
	text-transform:uppercase !important;
	padding:3rem 0 3rem 0;
	font-size:2rem !important;
	order:-1;
}

.TzModFeature_service li p{
	text-align:center;
	padding:3rem;
}

.TzModFeature_service li img{
	width:100%;
}

.custom_subup{
	border-bottom:none;
	margin-bottom:0;
	padding-bottom:1rem;
}

.custom_subup h3{
	font-size:3rem;
	}

.custom_subup h3,
.custom_subup p{
	text-align:center;
	}


.feature-body{
	display:block;
	margin:0 auto 0 auto;
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: -ms-fit-content;
	width: -o-fit-content;
	width: fit-content;
}

.feature-body div {
	background-image:url('/images/circle.svg.png');
	background-repeat:no-repeat;
	background-position: center left;
	background-size: 4rem;	
	padding:1rem 1rem 1rem 5rem;
	margin-bottom:1rem;
}

#jnews_module2{
	border-top:none;
	margin-top:0;
	padding-top:1rem;
}

form {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
	}


form input {
	text-align:center;
	width:100%;
	margin-bottom:2rem;
	padding:1rem;
	box-sizing:border-box;
	background-color:white;
	border-radius:.4rem;
	border:.2rem solid #d3b581;
}

form div{
	text-align:center;
}

.color_green{
	display:block;
	text-align:center;
	color:#008000;
}

.btn,
input[type=button]{
	background-color:#B03841;
	border-color:#B03841;
	color:white;
	cursor:pointer;
}

.btn{
	position:relative;
	z-index:500;
	padding:1rem;
	border-radius:.4rem;
	text-align:right;
}

.btn:hover,
.promo-button .btn:hover,
input[type=button]:hover{
	background-color: #d3b581;
	border-color: #d3b581;
	color:white;
	cursor:pointer;
}

.promo-button .btn{
	background:none;
	color: #B03841;
	border:.1rem solid #B03841;
	font-weight:lighter;
}


.item-page{
	padding:1rem;
}


@media ( min-width:560px ) and ( max-width:767px ) {
	.promo .container{padding-right:20rem;padding-top:4rem;}
	.promo .container p,
	.promo .container h3{background-color:rgba(255,255,255,.5);}
	}

@media ( min-width:768px ) {
	form input {width:48%;}
	#mobile-menu-toggle:checked + label + .menu,
	.menu{flex-direction:row;height:auto;padding-top:1rem;padding-bottom:1rem;}
	label[for=mobile-menu-toggle]{display:none;}
	.menu li.active {background-color:white;}
	.menu li.active a {color:#d3b581;}
	.promo .container{padding-right:40rem;padding-top:10rem;}
	.header-contacts{background-image:url('/images/logo-mini.png');	background-position: 3rem center;background-size: 6rem;	background-repeat:no-repeat;}
	}

@media ( min-width:768px ) and ( max-width:991px ) {
	.slide div {margin-bottom:5rem;}
	.custom_subup,
	#jnews_module2,
	.golden-box{margin:4rem auto 4rem auto; width:80%;}
	.custom_subup{margin-bottom:0;}
	.custom_logo{margin-top:-9rem;}
	#jnews_module2{margin-top:0;}
	.TzModFeature_service li{width:48%;}
	footer section{width: 33%}
	.promo-item{height:50rem;}
	.slick-dots{margin-top:-12rem;}
	}

@media ( min-width:992px ) and ( max-width:1200px ) {
	.slide div {width:80%;margin-bottom:10rem;}
	.custom_subup,
	#jnews_module2,
	.golden-box{margin:5rem auto 5rem auto; width:70%;}
	.custom_subup{margin-bottom:0;}
	.custom_logo{margin-top:-12rem;}
	#jnews_module2{margin-top:0;}
	.TzModFeature_service li{width:24%;}
	footer section{width: 33%}
	.promo-item{height:80rem;}
	.slick-dots{margin-top:-17rem;}
	}

@media ( min-width:1200px ) {
	.container{width:100rem;}
	.slide div {width:60%;margin-bottom:20rem;}
	.custom_subup,
	#jnews_module2,
	.golden-box{margin:6rem auto 6rem auto; width:60%;}
	.custom_subup{margin-bottom:0;}
	.custom_logo{margin-top:-12rem;}
	#jnews_module2{margin-top:0;}
	.TzModFeature_service li {width:24%;}
	footer section{width: 33%}
	.promo-item{height:80rem;}
	.slick-dots{margin-top:-17rem;}
	}


